
:root{
    --Color-Moderat-violet: hsl(263, 55%, 52%);
    --Ver-Dark-Grayish-Blue: hsl(217, 19%, 35%);
    --Desaturated-Dark-Blue: hsl(214, 17%, 51%);
    --Grayish-Blue: hsl(212, 23%, 69%);
    --Light-Grayish-Blue: hsl(210, 46%, 95%);
    --font-family:"Barlow Semi Condensed", sans-serif;
    --Color-White: hsl(0, 0%, 100%);
    --desktop-view-size: 1440px;
    --mobile-view-size: 375px;
    --paragraph-font-size: 13px;
    --font-Weights--500: 500;
    --font-Weights--700: 700;
}

.attribution { 
    font-size: 11px; text-align: center; 
}
.attribution a { 
    color: hsl(228, 45%, 44%);
 }

main {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    align-items: center;
    height: 100vh;    
    background-color: var(--Light-Grayish-Blue);
}

.container {       
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    grid-column: 2;
    margin: auto;
    background-color: var(--Color-White);  
    gap: 20px;    
    border-radius: 10px;    
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 60rem;    
    
}

.container img {
    width: 100rem; 
    max-width: 340px; 
    height: auto;
    border-radius: 10px 0px 0px 10px;
    padding: 0%;
    object-fit: cover; 
}
.text{       
    display: flex;
    flex-direction: column;
    justify-content: space-between;   
    gap: 20px;
    margin: 2rem;    
}

.text h1{

    font-family: var(--font-family);
    font-weight: var(--font-Weights--500);    
}

.text p{
    color: var(--Grayish-Blue);
    font-family: var(--font-family);
    font-weight: var(--font-Weights--500);
    font-size: 21px; 
}
.container .text {
    padding: 10px;
}
.profile {    
    display: flex;
    gap: 20px;
    margin-top: 20px;    
}
.profile > .avatar {
    border-radius: 50%;
    width: 50px;
    
}
.share-btn {
    display: flex;   
    position: relative;
    margin-left: auto;  
    justify-content: space-between;     
}
.share-btn > button {
    background: var(--Light-Grayish-Blue);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: none;      
}

.sharepop{
    display: flex;
    position: absolute;   
    justify-content: space-evenly;
    background: var(--Ver-Dark-Grayish-Blue);
    border-radius: 10px;    
    width: 250px;
    height: 55px; 
    right: -250%; 
    bottom: 140%;  
    box-shadow: 1px 21px 18px -14px rgba(0,0,0,0.25);    
}

.sharepop::after {
    content: "";
    position: absolute;
    width: 25px;
    height: 25px;
    background: var(--Ver-Dark-Grayish-Blue);   
    transform: rotate(45deg);
    top: 40px;
    left: 115px;
    z-index: 1;    
}

.sharepop img{
    display: flex;
    align-content: center;
    width: 23px;
    margin: auto;   
    border-radius: 0%;
    z-index: 2;
}

.sharepop .sociallinks{
    display: flex;
    justify-content: space-around;
    margin: auto;
    gap: 20px;
}
.sharepop p {
    position: relative;
    color: var(--Grayish-Blue);
    margin: auto;
    font-family: var(--font-family);   
    letter-spacing: 6px;   
}

.sharepoppather {
    opacity: 0;    
    position: absolute;
    right: -250%;
    bottom: 140%;
    animation: fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    display: none;
}

.sharepoppather.visible {
    display: block;
    opacity: 1;
    animation: slide-top 0.5s ease forwards,fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;;
    
}
.visible {
    opacity: 1;
    position: absolute;  
    right: -250%; 
    bottom: 140%;  
}

button.active  {
    background: var(--Ver-Dark-Grayish-Blue);       
}

button:hover {
    background: var(--Ver-Dark-Grayish-Blue);   
    
}

button.active #shareIcon path {
    fill: white;
}

.profile-name p {
    color: var(--Grayish-Blue);
    font-weight: var(--font-Weights--500);  
    font-size: 15px;  
    margin-top: 5px;
}

.profile-name h2 {
    font-family: var(--font-family);
    font-weight: var(--font-Weights--500);
}

@-webkit-keyframes slide-top {
    0% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
    100% {
      -webkit-transform: translateY(-10px);
              transform: translateY(-10px);
    }
  }
  @keyframes slide-top {
    0% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
    100% {
      -webkit-transform: translateY(-10px);
              transform: translateY(-10px);
    } 
  }

  @-webkit-keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  @media (max-width:1280px) {

    .container {       
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;        
        gap: 10px;  
        max-width: 120vw; 
        width: 90vw;        
    }
  }

  @media (max-width:811px) {

    .container {       
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;        
        gap: 10px;  
        margin: auto;
        max-width: 120vw; 
        width: 60vw; 
        height: auto;       
    }
    .container img {
        max-width: 100%; 
        border-radius: 10px 10px 0px 0px;     
    } 
  }
  
  @media (max-width:390px) {
  
    .container {       
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        margin: auto;             
        gap: 10px;    
        width: 98vw;
        height: 100vh;
    }
    .container img {
        max-width: 440px; 
        border-radius: 10px 10px 0px 0px;     
    } 

    .share-btn {
        display: flex;   
        position: relative;
        margin-left: auto;  
        justify-content: space-between;     
    }
    .share-btn > button {
        background: var(--Light-Grayish-Blue);
        width: 40px;
        height: 40px;
        border-radius: 50%;
        border: none;   
        z-index: 2;   
    }


    button.active  {
        background: var(--Desaturated-Dark-Blue);       
    }

    .sharepop{        
        position: absolute;   
        justify-content: space-around;            
        border-radius: 0px 0px 10px 10px;    
        width: 383px;
        height: 80px;  
        z-index: 0;             
    }

    .sharepop::after {
        content: "";
        position: absolute;
        width: 0px;
        height: 0px;          
    }   

    .sharepop img{     
        border-radius: 0%;       
    }
    .sharepop .sociallinks{
        display: flex;
        justify-content: space-around;
        align-items: end;
        margin: auto 150px auto 0px;
        gap: 20px;
    }
    .sharepop p {
        position: relative;
        color: var(--Grayish-Blue);
        margin: auto;
        font-size: 15px;
        font-family: var(--font-family);   
        letter-spacing: 6px; 
        text-transform: uppercase;          
    } 
    .visible {       
        position: absolute; 
        width: 100%;
        right: 58px;
        bottom: -18px;        
    }
  }
  